<table>
    <caption>Weather in {{ Name }}</caption>
    <div class="table-outline">
        <tr>
            <th colspan="2">Spring</th>
            <th colspan="2">Summer</th>
            <th colspan="2">Autumn</th>
            <th colspan="2">Winter</th>
        </tr>
        <tr>
            <th>Spring <br> Morning</th>
            <th>Spring <br> Evening</th>
            <th>Summer <br> Morning</th>
            <th>Summer <br> Evening</th>
            <th>Autumn <br> Morning</th>
            <th>Autumn <br> Evening</th>
            <th>Winter <br> Morning</th>
            <th>Winter <br> Evening</th>
        </tr>
        <tr>
            <td>{{ SpringM }}</td>
            <td>{{ SpringN }}</td>
            <td>{{ SummerM }}</td>
            <td>{{ SummerN }}</td>
            <td>{{ AutumnM }}</td>
            <td>{{ AutumnN }}</td>
            <td>{{ WinterM }}</td>
            <td>{{ WinterN }}</td>
        </tr>
    </div>
    
</table>

<div appImportantText>
    The most suitable time to enjoy your holiday in {{Name}} would be between {{Vf}} and {{Vt}}
</div>

  