<div id="appName">
    This is Egypt !
</div> <br>

<div>
    <div id="aim">
    Aim:
    </div> <br>
The aim of this website is to inform visitors more about tourism in Egypt. 
The Cities tab will inform you more about Eqyptian citites, the Weather tab will display the weather at certain Eqyptian areas.
Finally, the Tech Ideas tab will display a form which the user might fill out if they have a technical idea to improve tourism in Egypt.
</div>
<br>
<img [src]="imageURL" alt="no image loaded"> <!-- image added using property binding-->